.donor-title{
  text-align: center;
  font-size: 25px;
  margin: 40px 0px;
}

.divisao{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.donations{
  font-size: 20px;
  display: flex;
  align-items: center;

}

.donate{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.donate > button{
  padding: 2px 5px 2px 5px;
}

.req-donate{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.is-rested,.is-fed{
  margin: 5px;
  display: flex;
  gap: 10px;
}

